.div-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
}
@media screen and (max-width: 600px) {
  .div-header,
  .real-state-logo {
    display: flex;
    flex-direction: column;
  }
}
.header-arrow {
  display: flex;
  /* margin-left: 2px; */
}
ul {
  display: flex;
  list-style: none;
  align-items: center;
}

ul > li {
  margin-left: 30px;
  padding: 5px;
  border-radius: 5px;
}
li:hover {
  cursor: pointer;
  background-color: #d0bfff;
}
.div-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.real-state-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.real-state-img {
  height: 40px;
  width: 40px;
}
.user-login {
  color: #5f3dc4;
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
