.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px 0px 50px;
}

.search-box {
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  border-radius: 5px;
  position: relative;
  padding: 2px;
  box-shadow: 1px 0.5px 1px 1px lightgray;
  height: 30px;
}
.search-box input {
  border: none;
  outline: none;
  /* align-self: center; */
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}
.search-box input:active {
  border: none;
}

.search-arrow {
  position: absolute;
  right: 0;
  color: #7048e8;
  border-radius: 20px;
  font-size: 20px;
  /* background-color: #e5dbff; */
  padding: 2px;
}
